<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body></body>
    <header>
        {% block header %}
            <h1>Welcome to my site</h1>
        {% endblock %}
    </header>
    <nav class="navbar">
        {% block nav %}

            <form action="{{ url_for('home.index') }}" method="get">
                <input type="submit" value="Home" />
            </form>

            <form action="{{ url_for('changelog.index') }}" method="get">
                <input type="submit" value="Changelog" />
            </form>

            <form action="http://buntes145.wohnheim.uni-kl.de:81" target="_blank" method="get">
                <input type="submit" value="CasaOS" />
            </form>

        {% endblock %}
    </nav>
    <section>
        {% block content %}{% endblock %}
    </section>
    <footer>
        {% block footer %}
            <p>&copy; 2024 My Site</p>
        {% endblock %}
    </footer>
</body>
</html>